<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    
    <context:component-scan base-package="me.spring">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

	<mvc:annotation-driven/>	
	
	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
	<mvc:default-servlet-handler/>

	<!-- 定义JSP文件的位置 --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/template/"/>
		<property name="suffix" value=".jsp"/>
	</bean>	
	
	<!-- 定义无Controller的path<->view直接映射 -->
	<mvc:view-controller path="/" view-name="redirect:/user/toLogin"/>
	   	 
	<!-- springMVC MultipartResolver配置 -->
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
		<!-- 最大10000kb -->
	  	<property name="maxUploadSize" value="10240000"></property>
	  	<property name="maxInMemorySize" value="40960"></property>
	</bean>  
	 
	<!--    装配拦截器-->
	<mvc:interceptors>
		<!-- 局部配置-->
    	<mvc:interceptor>
        <!-- 要拦截的Controller的url-->
        <mvc:mapping path="/**"/>
        <bean class="me.spring.Interceptor.LoginInterceptor"></bean>
    </mvc:interceptor>
	</mvc:interceptors>    
</beans>

